<template name="initProjectComponent">
  <form name="projInit">
    <table class="table">


		<tr><td>Project Name    :</td><td><input type="text" name="projName"   placeholder="Please enter Project Name"></td></tr><br>
    <tr><td>Project Owner Address :</td><td> <input type="text" name="ownerAddress"   placeholder="Please enter owner address"></td></tr><br>
    <tr><td>Ammount to be raised  :</td><td> <input type="text" name="amountToBeRaised"   placeholder="Please enter required amount"></td></tr><br>
    <tr><td>Time of Completion    : </td><td><input type="text" name="deadlineTime"   placeholder="Please enter SLA"></td></tr><br>
    

  </table>





		<input type="button" name="submit" id="submit" class="submit button" value="Submit">
  </form>
</template>
